@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
      display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    display: block;
}

.flaticon-001-football-ball:before { content: "\f100"; }
.flaticon-002-calendar:before { content: "\f101"; }
.flaticon-003-tickets:before { content: "\f102"; }
.flaticon-004-training:before { content: "\f103"; }
.flaticon-005-whistle:before { content: "\f104"; }
.flaticon-006-soccer-field:before { content: "\f105"; }
.flaticon-007-trophy:before { content: "\f106"; }
.flaticon-008-cleats:before { content: "\f107"; }
.flaticon-009-yellow-card:before { content: "\f108"; }
.flaticon-010-red-card:before { content: "\f109"; }
.flaticon-011-soccer-jersey:before { content: "\f10a"; }
.flaticon-012-shorts:before { content: "\f10b"; }
.flaticon-013-captain-band:before { content: "\f10c"; }
.flaticon-014-medical-kit:before { content: "\f10d"; }
.flaticon-015-energy-drink:before { content: "\f10e"; }
.flaticon-016-flag:before { content: "\f10f"; }
.flaticon-017-playoff:before { content: "\f110"; }
.flaticon-018-scoreboard:before { content: "\f111"; }
.flaticon-019-medal:before { content: "\f112"; }
.flaticon-020-badge:before { content: "\f113"; }
.flaticon-021-shin-guards:before { content: "\f114"; }
.flaticon-022-app:before { content: "\f115"; }
.flaticon-023-formation:before { content: "\f116"; }
.flaticon-024-goal:before { content: "\f117"; }
.flaticon-025-goal:before { content: "\f118"; }
.flaticon-026-kick-off:before { content: "\f119"; }
.flaticon-027-penalty-kick:before { content: "\f11a"; }
.flaticon-028-corner:before { content: "\f11b"; }
.flaticon-029-trophy:before { content: "\f11c"; }
.flaticon-030-score:before { content: "\f11d"; }
.flaticon-031-substitution:before { content: "\f11e"; }
.flaticon-032-foam-hand:before { content: "\f11f"; }
.flaticon-033-badge:before { content: "\f120"; }
.flaticon-034-live:before { content: "\f121"; }
.flaticon-035-air-horn:before { content: "\f122"; }
.flaticon-036-timer:before { content: "\f123"; }
.flaticon-037-live-news:before { content: "\f124"; }
.flaticon-038-live-news:before { content: "\f125"; }
.flaticon-039-goal:before { content: "\f126"; }
.flaticon-040-socks:before { content: "\f127"; }
.flaticon-041-scarf:before { content: "\f128"; }
.flaticon-042-game-strategy:before { content: "\f129"; }
.flaticon-043-lockers:before { content: "\f12a"; }
.flaticon-044-banner:before { content: "\f12b"; }
.flaticon-045-gloves:before { content: "\f12c"; }
.flaticon-046-football-referee:before { content: "\f12d"; }
.flaticon-047-football-referee:before { content: "\f12e"; }
.flaticon-048-football-player:before { content: "\f12f"; }
.flaticon-049-football-player:before { content: "\f130"; }
.flaticon-050-football-player:before { content: "\f131"; }